
a {
    text-decoration: none; /* --- base style for all hyperlinks ---*/
}

    a:visited {
        text-decoration: none; /* --- remove underline for already visited sites --- */
        color: white;
    }

    a:hover {
        text-decoration: none; /* --- removes color change for hovering over hyperlink --- */
        color: white;
    }

    a:focus {
        text-decoration: none; /* --- remove color change for when selected by keyboard --- */
        color: white;
    }

    a:active { /* --- remove color change for when they are selected --- */
        text-decoration: none;
        color: white;
    }






/* --- Reset defaults --- */
body {
    background-image: url(../Images/TestImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    
}
 

body.index {
    background-image: url(../Images/IndexBG.png); /* --- background path for index ---*/
}

body.hunter {
    background-image: url(../Images/HunterBG.png); /* --- background path for hunter class page ---*/
}

body.titan {
    background-image: url(../Images/TitanBG.png); /* --- background path for titan class page ---*/
}

body.warlock {
    background-image: url(../Images/WarlockBG.png); /* --- background path for warlock class page---*/
}

body.classpageO{
    background-image: url(../Images/ClassSelection.png); /* --- background path for classes hub page---*/
    background-position: center 15px
}

body.raidguideO {
    background-image: url(../Images/RaidGuides.png); /* --- background path for raid guides hub page---*/
}
 
body.lorepageO {
    background-image: url(../Images/LorePages.png); /* --- background path for lore pages hub page---*/
}

body.refs {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for lore pages hub page---*/
}



body.VOGLore {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for vog lore page---*/
}

body.WishLore {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for wish lore page---*/
}

body.GardenLore {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for garden lore page---*/
}

body.CryptLore {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for crypt lore page---*/
}


body.VOGguide {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for vog raid guide---*/
}

body.Wishguide {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for wish raid guide---*/
}

body.Gardenguide {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for garden raid guide---*/
}

body.Cryptguide {
    background-image: url(../Images/EndCredsRefs.png); /* --- background path for crypt raid guide---*/
}







    /* --- button---*/
    button {
        background-color: darkslateblue;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
    }




* { /* --- auto sets all boxes to use this unless specified otherwise---*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Navbar container --- */
nav {
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.4rem 2rem;
    flex-wrap: wrap;
}

/* --- Logo container --- */
.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* --- Logo text --- */
.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

/* --- Logo image --- */
.logo-img {
    height: 40px;
    margin-right:10px;
    width: auto;
}

/* --- Nav links --- */
.nav-links {
    list-style: none;
    display: flex;
    gap: 4rem;
}

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        transition: color 0.2s ease;
    }

        .nav-links a:hover {
            color: #00bcd4;
        }

.container1 {
    text-decoration: none;
    background-color: darkslateblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 10px 0px;
}


.Description {
    color: white;
}



/* --- css for if the device is smaller than 800px --- */
@media (max-width: 60px 800px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding:1rem 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 2rem;
        margin-top: 0.5rem;
        width:100%;
    }

    .logo-container {
        margin-bottom: 0.5rem;
    }

    .logo-text {
        font-size:1.2rem;
    }

    .logo-img {
        height:35px
    }
}
