<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destiny 2 Wiki</title>

    <!-- static CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>


<body>
    <nav>
        <div class="logo-text">Destiny 2 Wiki</div>
        <div class="logo-container">
            <a href="/">
                <img src="{{url_for('static', filename='Images/TheTraveler.png')}}" alt="LOGO" class="logo-img">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>



    <!-- classes -->
    <div class="container1">
        <section id="Titan-section" class="Titan-section">
            <a href="/Titan(class)" class="button">TITAN</a>
        </section>
    </div>

    <div class="container1">
        <section id="Hunter-section" class="Hunter-section">
            <a href="/Hunter(class)" class="button">HUNTER</a>
        </section>
    </div>

    <div class="container1">
        <section id="Warlock-section" class="Warlock-section">
            <a href="/Warlock(class)" class="button">WARLOCK(best)</a>
        </section>
    </div>


    <!-- Lore Pages -->
    <div class="container1">
        <section id="CryptLore-section" class="CrpytLore-section">
            <a href="/CryptLore" class="button">Deepstone Crypt Lore</a>
        </section>
    </div>

    <div class="container1">
        <section id="GardenLore-section" class="CrpytLore-section">
            <a href="/GardenLore" class="button">Garden of SalvationLore</a>
        </section>
    </div>

    <div class="container1">
        <section id="LastWishLore-section" class="LastWishLore-section">
            <a href="/LastWishLore" class="button">Last Wish Lore</a>
        </section>
    </div>

    <div class="container1">
        <section id="VOGLore-section" class="VOGLore-section">
            <a href="/VOGLore" class="button">Vault of Glass Lore</a>
        </section>
    </div>



    <!-- raid guides -->
    <div class="container1">
        <section id="CryptGuide-section" class="CryptGuide-section">
            <a href="/CryptGuide" class="button">DeepStone Crypt Raid Guide</a>
        </section>
    </div>

    <div class="container1">
        <section id="GardenGuide-section" class="GardenGuide-section">
            <a href="/GardenGuide" class="button">Garden of Salvation Raid Guide</a>
        </section>
    </div>

    <div class="container1">
        <section id="LastWishGuide-section" class="LastWishGuide-section">
            <a href="/LastWishGuide" class="button">Last Wish Raid Guide</a>
        </section>
    </div>

    <div class="container1">
        <section id="VOGGuide-section" class="VOGGuide-section">
            <a href="/VOGGuide" class="button">Vault of Glass Raid Guide</a>
        </section>
    </div>



    <!-- reference pages -->
    <div class="container1">
        <section id="RefPage-section" class="RefPage-section">
            <a href="/ReferencePage" class="button">Reference Page</a>
        </section>
    </div>


</body>
</html>